body{
    display:flex;
    background-color: #0676e6;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    /* max-width: 100%; */
    height:  100vh;
    justify-content: center;
    align-items: center;
    /* margin: 0;
    padding: 50px; */
}

.main {
    display: flex;
    background-color: #e2dddd;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    padding: 30px;
}

.block{
    display: flex;
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.out-block{
    background-color: #0676e6;
}

.button-active{
    padding: 8px;
    width: 180px;
    font-size: 12px;
    border-color: #0676e6;
    border-style: solid;
    border-width: 2px;
    border-radius: 80px;
    font-weight: 700;
    color: #0676e6;
    margin-top: 30px;
    text-align: center;
    background-color: #eeeeee;
}

a:any-link {
    text-decoration: none;
    color: #0676e6;
}

a:visited {
    color: inherit;
}

a:link {
    color: #0676e6;
}

.button{
    text-align: center;
    padding: 8px;
    width: 160px;
    font-size: 12px;
    border-style: solid;
    border-radius: 80px;
    font-weight: 700;
    background-color: #0676e6;
    color: white;
    border-color: #ffffff;
    border-width: 2px;
}

.block:hover {
    background-color: #0676e6;
}

.block:hover .price{
    color:#ffffff;
}
.block:hover .day{
    color:#ffffff;
}

.price{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 1px;

}
.day{
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.text{
    text-align: center;
    color: #aabac3;
    margin-bottom: 50px;
    margin-top: 1px;
    margin-bottom: 7px;
    font-size: 12px;
}
@media (max-width:1200px){
    .main {
        display: flex;
        flex-wrap: wrap;
        width:550px;
        justify-content: center;
    }
    body {
        height: fit-content;
    }
}
@media (max-width:680px){
    .main {
        display: flex;
        flex-wrap: wrap;
        width:250px;
        justify-content: center;
    }
    body {
        height: fit-content;
    }
    
}

